starlette-context
fastapi==0.63.0  # version fixed due to complete re-overriding fastapi objects
prometheus-fastapi-instrumentator
pydantic  # version fixed by fastapi
asyncpg
pyjwt
python-dotenv
passlib
argon2-cffi  # required for passlib.hash.argon2
aiosmtplib
pyyaml
aioboto3
python-multipart  # required for fastapi.UploadFile
email-validator  # required for pydantic.EmailStr
aio-pika
pyinstrument  # profiling